/*

  about-wrapper.scss

*/

.about-wrapper {
  background: $color-main-2;
  height: 355px;
  color: $color-background;

  .content-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .about-text {
    font-size: 28px;
    line-height: 1.85em;
    max-width: 880px;
    width: 100%;
  }

  .cta {
    max-width: 400px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.23em;
    color: $color-background;
    position: relative;
    background: url('img/icon-arrow.png') no-repeat center right;
    background-size: 40px 80px;
    padding-right: 80px;
  }
}
