/*

  assortment-container.scss

*/

.assortment-container {
  height: 1165px;
  padding: 153px 0 0;
  background: $color-neutral-1;

  @media screen and (max-width: $tablet-landscape) {
    height: 1000px;
  }

  @media screen and (max-width: $tablet-portrait) {
    padding: 100px 0 0;
    height: 740px;
  }

  @media screen and (max-width: $mobile-large) {
    padding: 80px 0 calc(20.5% + 80px);
    height: auto;
  }

  .content-wrap {
    text-align: center;
  }

  h2 {
    font-size: 38px;
    line-height: 1.23em;
    font-weight: bold;
    margin-bottom: 0.738em;

    @media screen and (max-width: $tablet-portrait) {
      font-size: 32px;
    }

    @media screen and (max-width: $tablet-portrait) {
      font-size: 28px;
    }
  }

  p {
    font-size: 24px;
    line-height: 1.857em;
    max-width: 1259px;
    width: 86%;
    margin: auto;
    margin-bottom: 3.5em;

    @media screen and (max-width: $tablet-portrait) {
      font-size: 21px;
    }

    @media screen and (max-width: $tablet-portrait) {
      font-size: 18px;
    }
  }

  .shop {
    background: $color-main;
    border: 3px solid $color-main;
    border-radius: 45px;
    font-weight: bold;
    color: $color-background;
    font-size: 24px;
    line-height: 1.73em;
    display: table;
    max-width: 380px;
    height: 80px;
    width: 80%;
    margin: auto;
    transition: $transition;

    @media screen and (max-width: $tablet-portrait) {
      height: 60px;
      max-width: 280px;
    }

    @media screen and (max-width: $mobile-large) {
      font-size: 18px;
      height: 50px;
      max-width: 250px;
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }

    &:hover {
      background: transparent;
      color: $color-main;
    }
  }
}
