/*

  _contact-container.scss

*/

.contact-container {

  .content-wrap {
    max-width: $content-width-medium;
    display: flex;
    box-shadow: 0 15px 36px rgba(0,0,0,.13);

    @media screen and (max-width: $tablet-portrait) {
      flex-wrap: wrap;
    }
  }

  .contact-wrapper {
    background: $color-background;
    width: 100%;
    padding: 95px 100px;

    .wpcf7-form-control-wrap {
      @extend %clearfix;
      display: block;
      width: calc((100% / 2) - ((1 * 40px) / 2));
      margin-right: 40px;
      float: left;

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      &.your-message {
        float: none;
        width: 100%;
      }
    }

    br {
      display: none;
    }

    @media screen and (max-width: $tablet-portrait) {
      padding: 50px;
    }

    @media screen and (max-width: $mobile-large) {
      padding: 25px;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 1.625em;

      @media screen and (max-width: $mobile-large) {
        font-size: 21px;
      }
    }

    fieldset {
      width: 87.4%;
      @extend %clearfix;

      @media screen and (max-width: $tablet-portrait) {
        width: 100%;
      }

      &:nth-of-type(2) {
        margin-top: 30px;

        @media screen and (max-width: $tablet-portrait) {
          margin-top: 30px;
        }
      }
    }

    input,
    textarea {
      width: 100%;
      display: block;
      border-radius: 11px;
      font-size: 14px;
      height: 69px;
      border: 1px solid $color-neutral-2;
      background: $color-neutral-1;
      font-family: $font-main;
      padding: 0 20px;
      transition: $transition;

      @media screen and (max-width: $mobile-large) {
        padding: 0 15px;
        height: 55px;
      }

      &::placeholder {
        opacity: .5;
      }

      &:focus {
        outline: none;
        border-color: $color-main;
      }
    }

    input {
      float: left;
      // width: calc((100% / 2) - ((1 * 40px) / 2));
      width: 100%;
      margin-right: 40px;

      @media screen and (max-width: $mobile-large) {
        width: 100%;
        margin-bottom: 20px;
      }

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      &[type="submit"] {
        max-width: 196px;
        height: 69px;
        border-radius: calc(69px / 2);
        border: 3px solid $color-font;
        background: $color-font;
        color: $color-background;
        font-weight: bold;
        font-size: 24px;
        box-shadow: 0 7px 10px rgba(0,0,0,.26);
        transition: $transition;
        cursor: pointer;
        margin-top: 1.66em;

        @media screen and (max-width: $tablet-portrait) {
          font-size: 21px;
          max-width: 150px;
          height: 54px;
        }

        @media screen and (max-width: $tablet-portrait) {
          font-size: 18px;
        }

        &:hover {
          color: $color-font;
          background: transparent;
          box-shadow: none;
        }
      }
    }

    textarea {
      width: 87.4%;
      height: 198px;
      padding: 20px;
      margin-top: 30px;
      resize: none;

      @media screen and (max-width: $tablet-portrait) {
        width: 100%;
      }
    }
  }

  .gmaps-wrapper {
    width: 50%;
    max-width: 560px;
    height: 780px;
    position: relative;

    .agm-canvas {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    @media screen and (max-width: $tablet-portrait) {
      max-width: none;
      max-height: 400px;
      width: 100%;
      overflow: hidden;
    }

    figure {
      @media screen and (max-width: $tablet-portrait) {
        width: 100%;
      }
    }

    img {
      display: block;

      @media screen and (max-width: $tablet-portrait) {
        width: 100%;
      }
    }
  }

}
