/*

  general.scss

*/

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;

  &.no-scroll {
    overflow: hidden;
  }
}

html,
body {
  font-family: $font-main;
}

::selection {
  background: $color-main;
  color: $color-background;
}

body {
  background-color: $color-background;
  background-position: top left;
  font-size: 1.6rem;
  color: $color-font;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: $color-font;
  transition: $transition;
}

.content-wrap {
  margin: auto;
  max-width: $content-width;
  padding: 0px $content-padding;
  width: calc(100% - 100px);

  @media screen and (max-width: $tablet-landscape) {
    width: calc(100% - 50px);
  }

  @media screen and (max-width: $mobile-large) {
    width: calc(100% - 30px);
  }
}

.page-wrap {
  transition: $transition;

  &.show-nav {
    transform: translateX(-70vw);
  }
}

input {
  font-family: $font-main;
}
