/*

  header.scss

*/

.header {
  height: calc(100vh - 157px);
  min-height: 827px;
  background: $color-font;
  position: relative;
  color: $color-background;
  overflow: hidden;

  @media screen and (max-width: $mobile-large) {
    min-height: 0;
    height: 64vh;
  }

  .content-wrap {
    max-width: $content-width-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  h1 {
    font-size: 52px;
    line-height: 1.33em;
    margin-bottom: 40px;

    @media screen and (max-width: $mobile-large) {
      font-size: 21px;
      text-align: center;
    }
  }

  p {
    width: 50%;
    font-size: 18px;
    line-height: 1.81em;
    margin-bottom: 65px;

    @media screen and (max-width: $mobile-large) {
      font-size: 14px;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  figure {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: none;
      height: auto;
      width: 100%;
      margin: auto;

      @media screen and (max-width: $mobile-large) {
        width: auto;
        height: 100%;
      }
    }
  }

  .cta {
    display: table;
    vertical-align: middle;
    color: $color-background;
    border: 3px solid $color-main;
    font-size: 18px;
    text-transform: uppercase;
    height: 64px;
    width: 100%;
    max-width: 280px;
    text-align: center;
    border-radius: 40px;
    transition: $transition;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: $mobile-large) {
      font-size: 16px;
      width: 80%;
      height: 48px;
      margin: auto;
    }

    span {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      z-index: 1;
    }

    &::before {
      border-radius: 0;
      position: absolute;
      content: '';
      display: block;
      background: $color-main;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: $transition;
    }

    &:hover {
      &::before {
        border-radius: 40px;
        left: 0;
      }
    }
  }
}

.shop {
  .header {
    height: 60vh;
    min-height: 0;

    &::after {
      width: 100%;
      height: 50%;
      background: linear-gradient(transparent,$color-font);
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
    }
  }
}

.archive,
.single-product {
  .header {
    height: 158px;
    min-height: 0;

    @media screen and (max-width: $mobile-large) {
      height: 80px;
    }

    .title-container {
      display: none;
    }
  }
}

.hamburger {
  width: 24px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -7px;
  cursor: pointer;

  span,
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: $color-main;
    transition: $transition;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  span {
    top: 50%;
    left: 0;
    margin-top: -1px;
  }

  &.active {
    span {
      opacity: 0;
    }

    &::before {
      top: 5px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 5px;
      transform: rotate(-45deg);
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  height: 158px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.5);
  z-index: 3;

  @media screen and (max-width: $mobile-large) {
    height: 80px;
  }

  .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);

    @media screen and (max-width: $mobile-large) {
      width: 100%;
    }
  }

  .nav-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet-portrait) {
      display: none;
    }
  }
}

.search-wrap {
  margin-right: 34px;
  input {
    border: 2px solid $color-background;
    color: $color-background;
    border-radius: 40px;
    height: 64px;
    width: 320px;
    padding: 0 30px;
    background: transparent;
    font-family: $font-main;
    font-size: 20px;
    transition: $transition;

    &:focus {
      outline: none;
      border-color: $color-main;
    }

    &::placeholder {
      opacity: .5;
      color: $color-background;
    }
  }
}

.cart-wrap {
  .cart {
    display: block;
    width: 64px;
    height: 64px;
    border: 2px solid $color-main;
    border-radius: 50%;
    background: url('img/icon-cart.png') no-repeat center center;

    span {
      display: inline-block;
      text-indent: -9999px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 246px;
  height: 101px;
  background: url('img/logo-queem.svg') no-repeat;
  padding-left: 121px;

  @media screen and (max-width: $mobile-large) {
    width: 130px;
    height: 50px;
    padding-left: 60px;
    margin: auto;
  }

  span {
    font-size: 32px;
    letter-spacing: .120em;
    color: $color-main;
    text-transform: uppercase;
    position: relative;
    top: -5px;

    @media screen and (max-width: $mobile-large) {
      font-size: 18px;
      top: -2px;
    }
  }
}


.title-container {
  .content-wrap {
    margin-top: 70px;

    @media screen and (max-width: $mobile-large) {
      margin-top: 30px;
    }
  }
}
