.woocommerce-checkout {
  padding: 1em 0;

  .woocommerce-info {
    display: none;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1em 0;
  }

  label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-neutral-4;
    margin-top: .5em;
    margin-bottom: .25em;
  }

  input {
    padding: .5em;
    font-size: 16px;
    border: 1px solid rgba($color-main,.15);
    color: $color-font;

    &:focus {
      border-color: rgba($color-main,.25);
    }
  }

  textarea {
    padding: .5em;
    font-family: $font-family;
    font-size: 16px;
  }

  form {
    .form-row {
      .required {
        border-bottom: 0;
        text-decoration: none;
        color: $color-highlight;
      }

      .woocommerce-validated {
        border-color: $color-spec-cheese;
      }
    }
  }

  table {
    &.shop_table {
      border-radius: 0;
      background: $color-neutral-brightest;
      border: 0;
      box-shadow: 0px 2px 3px rgba($color-main,.15);

      thead {
        color: $color-font;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .125em;

        th {
          padding: 1em;
        }
      }

      tfoot {
        th {
          padding: 1em
        }
      }

      .order-total {
        font-size: 16px;
        padding: 1em;

        .amount {
          font-size: 24px;
          color: $color-highlight;
        }
      }
    }
  }

  .woocommerce-checkout-payment {
    .place-order {
      .button {
        background: $color-highlight;
        border: 2px solid $color-highlight;
        height: 45px;
        border-radius: 0;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
          background: transparent;
          color: $color-highlight;
        }
      }
    }
  }
}
