/*

  vars.scss

*/

// Colours
$color-background:       #ffffff;

$color-neutral-1:        #f5f5f5;
$color-neutral-2:        #EBEBEB;

$color-main:             #cbad79;
$color-main-2:           #fc5c5c;

$color-font:             #353535;
$color-font-light:       #a0a0a0;

// Website dimensions

$content-width:          1360px;
$content-width-medium:   1600px;
$content-width-large:    1703px;
$content-padding:        0;

// Fonts

$font-size-base:         16px;

$font-main:              'Avenir',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

// Other stuff

$transition:             all .4s cubic-bezier(0.86, 0, 0.07, 1);
